html {
	display: table;
	margin: auto;
}

.container {
	width: 365px;
	position: relative;
	border: 10px solid black;
	border-radius: 20px;
}

.title {
	text-align: center;
}

.btnReset, .btnTextMode, .btnHelp {
	color: black;
	background-color: #cecdae;
	border-radius: 20px;
	font-size: 20px;
	padding: 5px;
	width: 49%;
	font-weight: bold;
}

.btnGuess {
	padding: 8px;
	border-radius: 30px;
	background-color: #cecdae;
	font-weight: bold
}

.btnHelp {
	text-align: center;
}

#helpSection{
    position: absolute;
    background-color: white;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    z-index: 2;
    padding: 15px;
	opacity: 0;
    transition: opacity .5s ease-in;
    pointer-events: none;
}

.win, .lose {
	border-radius: 15px;
	padding: 15px;
}

.board {
	background-color: grey;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	padding: 10px;	
}

.R, .G, .B, .M, .C, .Y, .E, .Em {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	text-align: center;
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

.curRow {
	background-color: #c0c0c0;
}

div.inactiveRow {
	pointer-events: none;
}

.selectablePegs {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.codeRow {
	border: 2px solid black;
	padding: 3px;
	border-radius: 10px;
}

.codeSect {
	padding: 4px;
}

.hiddenCode {
	background-color: #2c2c2c;
}

.keyPieces {
	display: block;
	width: 140px;
}

.R {
	background-color: red;
	color: red;
}

.G {
	background-color: green;
	color: green;
}

.B {
	background-color: blue;
	color: blue;
}

.M {
	background-color: magenta;
	color: magenta;
}

.C {
	background-color: cyan;
	color: cyan;
}

.Y {
	background-color: yellow;
	color: yellow;
}

.E {
	background-color: white;
	color: white;
}

.Wh, .Bl {
	border-radius: 25px;
	width: 23px;
	height: 25px;
	text-align: center;
}

.Wh {
	background-color: white;
	color: white;
}

.Bl {
	background-color: black;
	color: black;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.inLine {
	white-space: nowrap;
	display: inline-block;
}

.hide {
	visibility: hidden;
}

/* Custom dropdown https://www.w3schools.com/howto/howto_js_dropdown.asp */
/* Dropdown Button */
.dropbtn {
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	border-radius: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: center;
}

.dropdown-content input {
	cursor: pointer;
}

.textMode {
	color: black;
}

.textMode.Bl, .textMode.B{
	color: white;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

.blink {
	animation: blinker 1s linear 5;
}

@keyframes blinker{
	50% {
		opacity: 0;
	}
}
